* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }

body {
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    font-size: .75rem;
    text-align: justify;
}

body * {
    margin-top: 10px;
}